#schedule_table,#schedule_table1{
    position: relative;
    width:100%;
}

#schedule_table th,#schedule_table1 th{
    background:#fff;
    padding:5px 10px;
    font-size:16px;
    border-color:#000;
}
#schedule_table td, #schedule_table1 td{
    border-bottom:1px dotted #333;
    background:#fff;
    font-size:14px;
    width:15%;
}
#schedule_table td:first-child, #schedule_table1 td:first-child{
    font-weight: bold;
    width:60px;
}
.db_add_row{
    display: none;
}
#add-new-chedule-row{
    display: none;
}
/*wp styles-fixes*/ 
.post-type-post-type-team #normal-sortables,
.post-type-post-type-hall #normal-sortables,
.post-type-post-type-club #normal-sortables,
.post-type-post-type-program #normal-sortables{
    display: none;
}
/*Simple ajax spinner*/

#ajaxBusy{
    position: absolute;
    top:0;
    left:0;
    background:#333;
    opacity:0.5;
    width:100%;
    height:100%;
    z-index: 1000;
    display:none;
}
#ajaxBusy img{
    position: absolute;
    width:20px;
    height:20px;
    top:0;left:0;bottom:0;right:0;
    margin:auto;
}
.current_page_item, .current-post-parent {
  font-weight: bold;

}
/*Schedule styles*/
h3.schedule-clubs-in-city {
    margin-left:30px;
}
h4.schedule-halls-in-clubs {
    margin-left:50px;
}