#schedule_table,#schedule_table1{
    position: relative;
    width:100%;
}

#schedule_table th,#schedule_table1 th{
    background:#fff;
    padding:5px 10px;
    font-size:16px;
    border-color:#000;
}
#schedule_table td, #schedule_table1 td{
    border-bottom:1px dotted #333;
    background:#fff;
    font-size:14px;
    width:15%;
}
#schedule_table td:first-child, #schedule_table1 td:first-child{
    font-weight: bold;
    width:60px;
}
.db_add_row{
    display: none;
}
#add-new-chedule-row{
    display: none;
}
/*wp styles-fixes*/ 
.post-type-post-type-team #post-body-content .titlediv{
    height:38px;
}